# Marquer les dossiers docs et les assets web comme de la documentation pour Linguist (GitHub)
docs/** linguist-documentation
**/docs/** linguist-documentation
*.html linguist-documentation
*.css linguist-documentation
*.js linguist-documentation
